<html>
<head>
<title>dploi</title>
</head>
<body bgcolor="white" text="black">
<center>
    <h1>Welcome to dploi!</h1>
    <img src="data:image/png; base64, iVBORw0KGgoAAAANSUhEUgAAAIwAAACMCAYAAACuwEE+AAAGwElEQVR42u2dW4hVVRjHf+4mGQ4i
    MgwyiZhEiZgMEoMPKiJi9lYiYWUQXWwwe5GCbkQhIRIREWESFeqDiphUSEFRWRlllpcSKm+pqaWp
    M46XGedqD+vbdjicc2bm3PZee/9/8L2cM3POWWv/91rru6y1QQghhBBCCCGEEEIIIYQQQgghhBBC
    CCGEEEIIIYQQQgghhBBCCCGEEEIIUSNGpKitGaDBLAOMNAuAHrOLZueATskjPYKpAxqB8cB0YCYw
    0cQyJkcwAH1ZgrlsgjkI/ATsBE7aawOSTHIIgNHAbGANsB/oAq6VaVeA3cCb9tmj1NX+0wAsB36p
    gEAGsx+BZTZSCc9oAlYBZ2sglFw7BbwAjNVliD+jgFbgKNAfgVhC6wUOAA8B9bos8VynTAM+Aboj
    FEqudQGbgSn2G0UMqLc7+UiMhJJrB4B7s7wvEaFYVprHci3m1mFrG01REQbcNth64Zon1gu8q5Gm
    9owBtnkklGzrB7YqblPb2MqmiL2gSohmrQUURZWnoTWeTUPFpqdXtaapruu8nMqE9eNiV4Clcrmr
    wzzgfILEEto/wAxd3sovcvcnUCzZeSivc1B1Mfs9KyxamlRagGeB5wf5u1HAZLPbgEm4nFVYyzOA
    q9cJa3cOA4eAP4F9wIU0jC4txCvcX83AXnOeddsEYDGw3i5++zAX/b3AJeAE8DEuoz4lhoNCxSK5
    W1MgltA2WFAvY+ua1SaSSnqF/SaercDdSXPt56RkdMlOVi7BJSzba/B93cB2YGEShFMPbEmRWKKO
    CW2z6d9bF39aje4y2f92CVd4lvFRMK/pAkaWtthhnpg3jAX26uJFakctWOrFFDXHhkdduOij0IuG
    4oJHrSpt24gHTbhk78K4jzTf6O6OlZ0B5sd1hGmy6KaI15pyfZ5IdCwEcwvaDBbX6en9QgG+KAUz
    QeuX2NICvEKemuQoBTOWhCbGEsISYFacBHOTrkmsyQAv407BuM4NNfwBAXAjcDtwp/n942PaWQPm
    NYxIuWhuxm0c3F3LL23E7Vjcgh+ll3uBqeYpKArt+qCpFqPJJFye6BT+VP//nuNSNttrac9wt1bb
    LXsROO5ZxxwH5uZpz1wP21Jp20EVtskEuFD/DvzbT3QGWFDACQjsvbMpFsz5fB5TOdSZG3YGP2tD
    Fg3iMQb2N2lOlK6q5MjyHH7uUuwG7h9ieCHAFWn3kt7Fb9mMBF7ytAMumViGy+KUjjTtwK3lTkNL
    8bN4u91c/aDEEfVh0ldW2l3iDXadeZ6uWdqBR8tMS4RrtrSJZkWpHTYO+MHDBnfYha6r0HS8xD4z
    LYLZVGpnrcS/c1u6KiiW7JGmlWSdNFHMSkoRTPZwKuo1sVQj2RqYaNLgPR0vpYNWe9bIK9UObRut
    +HFoY7kBvCHfRRMteNXumViWU5u6mzr7riSLpnsonTAdV1F+xDMXustyWrU8KqzevrMrjYJpAl73
    1HXuBd4gmq2gGdyTT5K4puko1OiwFsTXEyw3E+0pBaPtNyRNMEfyNXY2biecr406RU5ZYUQ02m9J
    kmC257qZsyw404S/nMY9VS1qLgP/kiz+yPYeJtrcO87zRjUDTwG7KPzIvavAz7jH9pUa5W0psqAO
    zFmYmiCxDACHRmR5Q29ZLCFISOOuFnn/MHCXjUal0AR8Nkj2tp5kncvbCdwTjjAzGLyIyCeCQTyk
    TJltDT8/Q3q4COwJO+0J3JGeQhRiH9AW4PY4z1d/iCL0AR+GQ+t89LQNUZy/gS9CwcxEe5xFcb4F
    joWCaVZ/iEEWu2vDEEV4ZLkQhfgK2JntHuqMFlGITlx8rjNbMH3qF1GAdcB32S8EQJv6ReThGG63
    Y0+uYA6qb0QOPcDT5k6TK5hd6h+RRR/wNvAReZK3Ae60havqJ2EC+Ry3YS1vpj8Avs439IhUshN4
    nCKPAAxwhT7vULh2RKSD74EHBxs8wmz1RuA39Vlq+RR4wDwjhiKYk7int3eq71LnDa0DHgH+Gso/
    ZBcRfQC8hwJ5aeE07pHIT1JG7XED7nhUX7eXDNUOUV7t8jj7DF83o32J2x0ybHLLGtpslTyAK9kU
    yeKkucwbK738CIBnSO6BOWkaYfpxZw0vo8o1yHXAHbh9Sh0SjHeCOWHXbgEVrNcuVmnXB+wBHsMV
    Wd2He0bjBNxzjgKN8LFgAFfk1GYL2T22RvnVpqCeSn7ZcB++0Ijb8NbguWA6cTm0UlMi9biNapmY
    COYCcM68ncu6h4QQQgghhBBCCCGEEEIIIYQQQgghhBBCCCGEEEIIIYQQQgghhBBCCCGESAT/AS3c
    qmjVHCFaAAAAAElFTkSuQmCC">
    <p><%= hostname %> wishes you a nice journey on the internet</p>
</center>
</body>
</html>
