[submodule "concat"]
	path = concat
	url = https://github.com/KristianOellegaard/puppet-concat.git
[submodule "sshauthkeys"]
	path = sshauthkeys
	url = git://github.com/KristianOellegaard/puppet-sshauthkeys.git
[submodule "mcollective"]
	path = mcollective
	url = git://github.com/dploi/puppet-module-mcollective.git
