[submodule "concat"]
	path = concat
	url = https://github.com/KristianOellegaard/puppet-concat.git
[submodule "sshauthkeys"]
	path = sshauthkeys
	url = git://github.com/KristianOellegaard/puppet-sshauthkeys.git
[submodule "mcollective"]
	path = mcollective
	url = git://github.com/dploi/puppet-module-mcollective.git
[submodule "icinga"]
	path = icinga
	url = git@github.com:dploi/puppet-icinga.git
[submodule "stdlib"]
	path = stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "hiera"]
	path = hiera
	url = https://github.com/puppetlabs/hiera-puppet.git
